%title {
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}

%sectionMarginP {margin: 30px auto;}
%sectionMarginD {margin: 90px auto;}


